# 依赖
node_modules/
.pnpm-store/
.npm/
.yarn/

# 构建产物
dist/
dist-ssr/
build/
.vite/
*.local

# 类型缓存
*.tsbuildinfo

# 测试与覆盖率
coverage/
.nyc_output/

# 日志
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# 编辑器 / IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 操作系统
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# 环境变量
.env
.env.local
.env.*.local

# 其它
.cache/
.temp/
.tmp/
*.pid
*.seed
*.pid.lock
.history